<h1>Display your Pirate here</h1>
<<<<<<< HEAD
<p>Name: <%= @pirate.name %></p>
<p>Weight: <%= @pirate.weight %></p>
<p>Height: <%= @pirate.height %></p>
=======
<p>Name: </p>
<p>Weight: </p>
<p>Height: </p>
>>>>>>> 64ec5ddc9076165af0150060ddae4bb048d25960

<h2>Display your first ship here</h2>
<p>Ship Name: <%= @ships[0].name %></p>
<p>Ship Type: <%= @ships[0].type %></p>
<p>Ship Booty: <%= @ships[0].booty %></p>

<h2>Display your second ship here</h2>
<p>Ship Name: <%= @ships[1].name %></p>
<p>Ship Type: <%= @ships[1].type %></p>
<p>Ship Booty: <%= @ships[1].booty %></p>